<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="onFilter($event)">
    <ion-segment-button value="ALL" >
      <ion-label> ALL</ion-label>
    </ion-segment-button>
    <ion-segment-button value="FILTRED" checked>
      <ion-label> FILTRED</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="loadedPlaces.length <= 0">
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" class="center">
        <ion-label color="danger"> there is no booking places right now !  </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="loadedPlaces.length > 0 ">
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" class="center">
        <ion-card >
          <ion-card-header>
            <ion-card-title> {{ loadedPlaces[0].title }} </ion-card-title>
            <ion-card-subtitle> {{ loadedPlaces[0].cost | currency }} </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].img"></ion-img>
          <ion-card-content>
            <p> {{ loadedPlaces[0].description }}  </p>
              <ion-button fill="clear"
               color="primary"
                [routerLink]="['/','places','tabs','discover',loadedPlaces[0].id]"
                >
                 More 
                </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item
          *ngFor="let place of loadedPlaces.slice(1)"
          [routerLink]="['/','places','tabs','discover',place.id]"
          detail
          >
            <ion-avatar slot="start">
              <img [src]="place.img">
            </ion-avatar>
            <ion-label> 
             <h2>{{ place.title }} </h2>
             <p> {{ place.description }} </p>
             </ion-label>
             
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
