<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size="12" size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding #slide *ngFor="let place of Places">
              <app-offer [place]="place"></app-offer>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="onSlide(slide , place.id)"> 
                
                  <ion-icon name="create-outline" slot="icon-only"></ion-icon>
                
                 
              </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        </ion-list>
       
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
