<ion-header>
  <ion-toolbar>
    <ion-title>Edit Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
<ion-grid>
  <ion-row>
   <ion-col size-sm="6" offset-sm="3">
    <ion-item>
      <ion-label position="floating"> Title </ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
   </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
     <ion-item>
       <ion-label position="floating"> Description </ion-label>
       <ion-textarea formControlName="description" rows="3"></ion-textarea>
     </ion-item>
    </ion-col>
   </ion-row>
   <ion-row>
     <ion-col size-sm="6" offset-sm="3">
       <ion-button [disabled]="form.invalid" (click)="onUpdate()"> Update </ion-button>
     </ion-col>
   </ion-row>
</ion-grid>

</form>

</ion-content>
