<ion-header>
  <ion-toolbar>
    <ion-title> {{ isLoging ? 'Authentification' : 'Signup' }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
<form #auth="ngForm" (ngSubmit)="SubmitAuth(auth)" >
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating"> E-mail </ion-label>
            <ion-input 
            type="email"
            name="email"
            ngModel
            required
            email
            #email="ngModel"
            ></ion-input>
          </ion-item>
          <ion-item *ngIf="email.invalid && email.touched" lines="none">
            <ion-label color="danger" > 
                Email incorect ! 
             </ion-label>
          </ion-item>
          <ion-item>
            <ion-label  position="floating"> Password </ion-label>
            <ion-input 
            type="password"
            name="password"
            ngModel
            required
            ></ion-input>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button (click)="onSwitchMode()" 
        type="button" color="primary" expand="full" fill="clear">
          Switch  To {{ isLoging ? 'Signup': 'Login' }}
        </ion-button>
          <ion-button type="submit" expand="full"  color="primary" (click)="onLogin()">
            Login
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  </form>
</ion-content>
