<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        
          <ion-item-sliding #slide *ngFor="let bookin of Bookings">
            <ion-item>
              <ion-label>
                <h3> {{bookin.placeTitle }} </h3>
                <p> Gest Number :  {{ bookin.guestNumber }} </p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="DeleteBooking(slide , bookin.id)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
       
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

