<!--<ion-header>
  <ion-toolbar>
    <ion-title>places</ion-title>
  </ion-toolbar>
</ion-header> -->
 
<ion-content> 

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
       <ion-label>Discover</ion-label>
       <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <label> Offers </label>
        <ion-icon name="card"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
