<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="form.invalid" (click)="CreateOffer()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
       
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
     
          <ion-item>
           <ion-label  position="floating"> Title </ion-label>
           <ion-input formControlName="title" type="text" ></ion-input>
          </ion-item>
        
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label  position="floating"> Description </ion-label>
          <ion-textarea formControlName="description" rows="3" ></ion-textarea>
         </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label  position="floating"> Price </ion-label>
          <ion-input formControlName="price" type="number" ></ion-input>
         </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="3" offset-sm="3" >
        <ion-item>
          <ion-label  position="floating"> From </ion-label>
          <ion-datetime formControlName="dateFrom"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size-sm="3" >
        <ion-item>
          <ion-label  position="floating"> To </ion-label>
          <ion-datetime formControlName="dateTo"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>

