<ion-header>
  <ion-toolbar>
    <ion-title> {{ selectedPlace.title }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  

<ion-card>
  <ion-card-header>
    <ion-card-title> {{ theMode }} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col offset="5">
        <ion-avatar>
          <ion-img [src]="selectedPlace.img"></ion-img>
        </ion-avatar>
         
      </ion-col>
    </ion-row>
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating"> First name </ion-label>
          <ion-input
           name="fname"
           type="text"
           ngModel
           ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label position="floating"> Last name </ion-label>
          <ion-input 
          name="lname"
          type="text"
          ngModel
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item>
          <ion-label  position="floating"> Guest number </ion-label>
          <ion-select ngModel name="gnumber">
            <ion-select-option value="1"> 1 </ion-select-option>
            <ion-select-option value="2"> 2 </ion-select-option>
            <ion-select-option value="3"> 3 </ion-select-option>
          </ion-select>
          
        </ion-item>
      </ion-col>
    </ion-row>

    <div *ngIf="show" >
      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label position="floating">
                From
            </ion-label>
            <ion-datetime ngModel name="from"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row >
        <ion-col>
          <ion-item>
            <ion-label position="floating">
                To
            </ion-label>
            <ion-datetime ngModel name="to"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    
    </div>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="full" fill="clear" > Book this Place </ion-button>
      </ion-col>
    </ion-row>

  </form> 
  </ion-card-content>
  
</ion-card>



</ion-content>
