<ion-item  >
  <ion-avatar slot="start">
    <ion-img [src]="place.img" ></ion-img>
  </ion-avatar> 
  <ion-label>
    <h2> {{ place.title }}   </h2>
    <p> 
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <span>  {{ place.dateFrom | date }} </span>
        <span> TO </span>
        <ion-icon name="calendar" color="secondary"></ion-icon>
        <span> {{ place.dateTo | date }} </span>
    </p>
  </ion-label>
</ion-item> 