<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>place-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="no-padding" >
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="center no-padding">
          <ion-img [src]="Place.img"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center">
        <h2> <ion-label color="danger"> {{ Place.description }} </ion-label> </h2>
        <ion-button (click)="onBook()" color="secondary"> Book ! </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
